*{
    margin:0;
    padding: 0;
    list-style: none;
}

body{
    height: 200vh;
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}

nav,
ul{
    display: flex;
}

nav{
    justify-content: space-between;
    background-color: #282A35;
    line-height: 3;
    padding-inline: 15px;
    min-height: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
    height: 70px;
}

ul li{
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: #FFF;
}


.button{
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #282A35;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600; 
    border-radius: 5px;
    transform: translateX(-50%);
}

.button a{
    color: #282A35;
}


.hide{
    height: 0;
}